{% extends 'HospitalApp/user_base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}

  
  <!-- Custom CSS and JS -->
  <link rel="stylesheet" href="{% static 'HospitalApp/style.css' %}">
  <script src="{% static 'HospitalApp/script.js' %}"></script>

  <!-- Favicons -->
  <link href="{% static 'HospitalApp/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'HospitalApp/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'HospitalApp/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'HospitalApp/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'HospitalApp/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'HospitalApp/assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'HospitalApp/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'HospitalApp/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'HospitalApp/assets/css/main.css' %}" rel="stylesheet">




  <i class="mobile-nav-toggle d-xl-none bi bi-list" aria-label="Toggle navigation"></i>


  <main class="main">



<!-- About Section -->
<section id="about" class="about section">

  <div class="container">

    <div class="row gy-4 gx-5">

      <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="200">
        <img src="{% static 'HospitalApp/assets/img/about.jpg' %}"class="img-fluid rounded shadow" alt="Hospital Image">
        
      </div>

      <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
        <h2><Strong>About Us</Strong></h2>
       
        <ul>
          <li>
            <i class="fa-solid fa-vial-circle-check"></i>
            <div>
              <h5>Our Mission</h5>
              <p>To provide world-class healthcare services that improve the well-being of our patients
                and their families, driven by a commitment to innovation, quality, and patient-centered care.</p>
            </div>
          </li>
          <li>
            <i class="fa-solid fa-pump-medical"></i>
            <div>
              <h5>Our Vision</h5>
              <p>To be a leading healthcare provider known for excellence in clinical care, education,
                and community service, ensuring that every life we touch is transformed for the better.</p>
            </div>
          </li>
         
        </ul>
      </div>

    </div>

  </div>

</section><!-- /About Section -->






  </main>

  

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>
 

  <!-- Vendor JS Files -->
  <script src="{% static 'HospitalApp/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'HospitalApp/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'HospitalApp/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'HospitalApp/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'HospitalApp/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'HospitalApp/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  
  <!-- Main JS File -->
  <script src="{% static 'HospitalApp/assets/js/main.js' %}"></script>
  
  {% endblock %}