{% extends 'HospitalAdminApp/admin_template/admin_base.html' %}
{% load static %}

{% block title %}Admin Dashboard{% endblock %}

{% block extra_css %}
<script>  
    $(document).ready(function() {  
        $('.counter-value').each(function() {  
            $(this).prop('Counter',0).animate( {  
                Counter: $(this).text()  
            },{  
                duration: 3500,  
                easing: 'swing',  
                step: function (now){  
                    $(this).text(Math.ceil(now));  
                }  
            });  
        });  
    });  
    </script>  
       <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">          
       <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>          
       <script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"> </script>          
       <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"> </script>          
        <link href = "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel = "stylesheet">          
        <style>    
            @import 'https://fonts.googleapis.com/css?family=Baloo+Tamma';  
            * {  
              padding: 0;  
              margin: 0;  
              font-family: "Baloo Tamma", cursive;  
              font-size: 24px;  
            }  
            body {  
              color: #fff;  
              font-family: 'Raleway';  
              font-size: 1.6rem;  
              font-weight: 700;  
              letter-spacing: 1px;  
              height: 100vh;  
              margin: 0;  
              text-transform: uppercase;  
            }  
            .gradient-background {  
              background: linear-gradient(100deg,#200c32,#e74d89,#febaa6);  
              background-size: 180% 180%;  
              animation: gradient-animation 9s ease infinite;  
            }  
            @keyframes gradient-animation {  
              0% {  
                background-position: 0% 50%;  
              }  
              50% {  
                background-position: 100% 50%;  
              }  
              100% {  
                background-position: 0% 50%;  
              }  
            }  
            .heading h1 {  
              text-align: center;  
              color: #222;   
              font-size: 40px;   
              font-weight: 300;  
              text-transform: uppercase;  
              word-spacing: 1px;   
              letter-spacing: 2px;   
              color: black;  
              margin: 10px;  
              font-family: "Raleway", sans-serif;  
            }  
            .heading h1 span {  
              line-height: 2em;   
              padding-bottom :5px;  
              text-transform: none;  
              font-size: .7em;  
              margin: 10px;  
              font-weight: bold;  
              font-style: italic;   
              font-family: "Rubik", sans-serif;  
              color: #08121d;  
             letter-spacing: -0.005em;   
              word-spacing: 1px;  
            }  
            .heading h1:after {  
              position: absolute;  
              left: 0;  
              bottom: 0;  
              width: 45px;  
              height: 4px;  
              content: "";  
              right: 45px;   
              margin: auto;  
              background-color: #ccc;  
            }  
            heading h1:before {  
              position: absolute;  
              left: 0;  
              bottom: 0;  
              width: 45px;  
              height: 4px;  
              content: "";  
              right: 45px;   
              margin: auto;  
              background-color: #ce9292;  
            }  
            h1 {  
              position: relative;  
              padding: 0;  
              margin: 0;  
              font-family: "Raleway", sans-serif;  
              font-weight: 200;  
              font-size: 40px;  
              color: rgb(39, 31, 31);  
              -webkit-transition: all 0.4s ease 0s;  
              -o-transition: all 0.4s ease 0s;  
              transition: all 0.4s ease 0s;  
            }  
            h1 span {  
              display: block;  
              font-size: 0.5em;  
              line-height: 1.3;  
              color: #232323;  
            }  
            .counter {  
                color: #fff;  
                font-family: 'Poppins', sans-serif;  
                text-align: center;  
                width: 210px;  
                min-height: 246px;  
                padding: 25px 0 0;  
                margin: 0 auto;  
                position: relative;  
                z-index: 1;  
            }  
            .counter:after {  
                content: '';  
                background: linear-gradient(to right, #eff0f2, #fefefe);  
                height: 152px;  
                width: 152px;  
                border-radius: 15px;  
                border: 3px solid #fff;  
                box-shadow: 5px 0 8px rgba(0, 0, 0, 0.2);  
                transform: translateX(-50%) rotate(45deg);  
                position: absolute;  
                top: 25px;  
                left: 50%;  
                z-index: -1;  
            }  
            .counter .counter-value {  
                background:#fe8c00;  
                font-size: 25px;  
                font-weight: 600;  
                letter-spacing: 2px;  
                width: 100%;  
                padding: 10px 0 6px;  
                border-radius: 10px;  
                box-shadow: inset 0 0 6px rgba(0,0,0,0.6),0 0 0 2px #fff;  
                position: absolute;  
                left: 0;  
                bottom: 0;  
                z-index: -1;  
            }  
            .counter .counter-icon {  
                background: linear-gradient(to right,#fe8c00,#f83600);  
                font-size: 30px;  
                line-height: 60px;  
                width: 60px;  
                height: 60px;  
                margin: 0 auto 20px;  
                border-radius: 50%;  
                border: 2px solid #fff;  
                box-shadow: 4px 4px 4px rgba(0,0,0,0.4);  
            }  
            .counter h3 {  
                color: #f83600;  
                font-size: 17px;  
                font-weight: 500;  
                text-transform: capitalize;  
                line-height: 22px;  
                padding: 0 30px;  
                margin: 0 0 15px;  
            }  
            .counter.green .counter-value { background: #01c700; }  
            .counter.green .counter-icon { background: linear-gradient(to right,#01c700,#019b01); }  
            .counter.green h3 { color: #019b01; }  
            .counter.blue .counter-value { background: #28a9e2; }  
            .counter.blue .counter-icon { background: linear-gradient(to right,#28a9e2,#0057c5); }  
            .counter.blue h3 { color: #0057c5; }  
            .counter.gray .counter-value { background: #36474f; }  
            .counter.gray .counter-icon { background: linear-gradient(to right,#36474f,#0d0e10); }  
            .counter.gray h3 { color: #0d0e10; }  
            .counter.gree .counter-value { background: #bd2130; }  
            .counter.gree .counter-icon { linear-gradient(to right,rgb(0 123 255 / 50%),#019b01); }  
            .counter.gree h3 { color: #dc3545; }  
            @media screen and (max-width: 990px) {  
                .counter { margin-bottom: 40px; }  
            }     
              
            </style> 
{% endblock %}

{% block content %}
        
 
 
  
<div class="heading">  
  <h1>  
  <span> Admin Dashboard </span>  
  </h1>  
</div>  
  <div class = "container">  
    <div class = "row">  
        <div class = "col-md-3 col-sm-6">  
            <div class = "counter">  
                <div class = "counter-content">  
                    <div class = "counter-icon">  
                        <i class = "fa fa-users card-icon"> </i>  
                    </div>  
                    <h3> Patients</h3>  
                </div>  
                <span class = "counter-value"> {{ total_patient }} </span>  
            </div>  
        </div>  
        <div class = "col-md-3 col-sm-6">  
            <div class = "counter green">  
                <div class = "counter-content">  
                    <div class = "counter-icon">  
                        <i class = "fa fa-user-md card-icon"> </i>  
                    </div>  
                    <h3>Doctors </h3>  
                </div>  
                <span class = "counter-value">{{ total_doctor }} </span>  
            </div>  
        </div>  
        <div class = "col-md-3 col-sm-6">  
            <div class = "counter gree">  
                <div class = "counter-content">  
                    <div class = "counter-icon">  
                        <i class = "fa fa-university card-icon"> </i>  
                    </div>  
                    <h3> Departments </h3>  
                </div>  
                <span class = "counter-value"> {{ total_department }} </span>  
            </div>  
        </div>  
        <div class = "col-md-3 col-sm-6">  
            <div class = "counter gray">  
                <div class = "counter-content">  
                    <div class = "counter-icon">  
                        <i class = "fa fa-calendar-check card-icon"> </i>  
                    </div>  
                    <h3> Appointments </h3>  
                </div>  
                <span class = "counter-value"> {{ total_appointment }}</span>  
            </div>  
        </div>  
    </div>  
</div>  

{% endblock %}
