{% extends 'HospitalAdminApp/admin_template/admin_base.html' %}
{% load static %}

{% block title %}Edit Patient{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Edit patient details</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table table-bordered">
            <tr class="mb-3">
                <td><label for="id_patient_name">Patient Name</label></td>
                <td>{{ form.name }}</td>
            </tr>

            <tr class="mb-3">
                <td><label for="id_patient_d_o_b">Date of Birth</label></td>
                <td>{{ form.dob }}</td>
            </tr>

            <tr class="mb-3">
                <td><label for="id_patient_gender">Gender</label></td>
                <td>{{ form.gender }}</td>
            </tr>

            <tr class="mb-3">
                <td><label for="id_patient_ph_no">Phone Number</label></td>
                <td>{{ form.phone }}</td>
            </tr>
            
            <tr class="mb-3">
                <td><label for="id_email">Email</label></td>
                <td>{{ form.email}}</td>
            </tr>
            <tr class="mb-3">
                <td><label for="id_patient_address">Address Line1</label></td>
                <td>{{ form.address_line1 }}</td>
            </tr>

            <tr class="mb-3">
                <td><label for="id_patient_address">Address Line2</label></td>
                <td>{{ form.address_line2 }}</td>
            </tr>

            <tr class="mb-3">
                <td><label for="id_patient_emergency_no">Emergency Contact</label></td>
                <td>{{ form.emergency_contact }}</td>
            </tr>

            <tr class="mb-3">
                <td><label for="id_patient_admission_date">Admission Date</label></td>
                <td>{{ form.admission_date }}</td>
            </tr>

            <tr class="mb-3">
                <td><label for="id_profile_photo">Profile Photo</label></td>
                <td>{{ form.profile_photo }}</td>
            </tr>
        </table>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
       </div>
        
    </form>
</div>
{% endblock %}
